<div class="container">
  <div class="align-items-center">
    <form>
      <div class="col-md-4">
        <div class="form-group">
          <label for="employeeId">Çalışan</label>
          <ng-select
            id="employeeId"
            placeholder="Seçiniz"
            notFoundText="Kaynak bulunamadı"
            name="employeeId"
            [(ngModel)]="employeeAwardInformation.employeeId"
          >
            <ng-option *ngFor="let employee of employees" [value]="employee.id"
              >{{ employee.firstName | titlecase }}
              {{ employee.lastName }}</ng-option
            >
          </ng-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="awardDate">Ödül Tarihi</label>
          <input
            type="text"
            name="awardDate"
            id="awardDate"
            autocomplete="off"
            bsDatepicker
            class="form-control"
            [(ngModel)]="employeeAwardInformation.awardDate"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="awardType">Ödül Alma Türü</label>
          <ng-select
            id="awardType"
            placeholder="Seçiniz"
            notFoundText="Kaynak bulunamadı"
            name="awardType"
            [(ngModel)]="employeeAwardInformation.awardType"
          >
            <ng-option value="1">1. Ödül Türü</ng-option>
            <ng-option value="2">2. Ödül Türü</ng-option>
            <ng-option value="3">3. Ödül Türü</ng-option>
            <ng-option value="4">4. Ödül Türü</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="reasonForAward">Ödül Alma Nedeni</label>
          <input
            type="text"
            name="reasonForAward"
            id="reasonForAward"
            autocomplete="off"
            class="form-control"
            [(ngModel)]="employeeAwardInformation.reasonForAward"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="costOfThePrize">Ödülün Maliyeti</label>
          <input
            type="text"
            name="costOfThePrize"
            id="costOfThePrize"
            autocomplete="off"
            class="form-control"
            [(ngModel)]="employeeAwardInformation.costOfThePrize"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="awardDescription">Ödül Açıklaması</label>
          <input
            type="text"
            name="awardDescription"
            id="awardDescription"
            autocomplete="off"
            class="form-control"
            [(ngModel)]="employeeAwardInformation.awardDescription"
          />
        </div>
      </div>
      <br />
      <button
        class="btn btn-success"
        type="button"
        [disabled]="checkValidate()"
        (click)="save()"
      >
        Kaydet
      </button>
      <button class="btn btn-warning" (click)="clear()">Temizle</button>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Çalışan Id</th>
          <th scope="col">Ödül Tarihi</th>
          <th scope="col">Ödül Türü</th>
          <th scope="col">Ödül Alma Nedeni</th>
          <th scope="col">Ödülün Maliyeti</th>
          <th scope="col">Ödül Açıklaması</th>
          <th scope="col">İşlemler</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employeeAwardInformation of employeeAwardInformations">
          <td>{{ employeeAwardInformation.id }}</td>
          <td>{{ employeeAwardInformation.employeeId }}</td>
          <td>{{ employeeAwardInformation.awardDate | date: "dd-MM-yyyy" }}</td>
          <td>{{ employeeAwardInformation.awardType }}</td>
          <td>{{ employeeAwardInformation.reasonForAward }}</td>
          <td>{{ employeeAwardInformation.costOfThePrize }}</td>
          <td>{{ employeeAwardInformation.awardDescription }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button
                class="btn btn-danger"
                type="button"
                (click)="
                  deleteEmployeeAwardInformation(employeeAwardInformation)
                "
              >
                <i class="bi bi-trash3"></i>
              </button>
              <button
                type="button"
                class="btn btn-info"
                (click)="
                  getEmployeeAwardInformation(employeeAwardInformation.id)
                "
              >
                <i class="bi bi-pencil"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
