<div class="container">
  <div class="col-md-6">
    <form class="row gx-3 gy-2 align-items-center">
      <div class="col-md-6">
        <label for="firstName" class="col-sm-2 col-form-label col-form-label-sm"
          >Ad</label
        >
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="FirstName"
          style="width: 200px"
          autocomplete="off"
          required
          [(ngModel)]="employee.firstName"
        />
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Soyad</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="LastName"
          style="width: 200px"
          autocomplete="off"
          required
          [(ngModel)]="employee.lastName"
        />
      </div>
      <div class="col-md-6">
        <label for="identificationNumber" class="form-label"
          >TC kimlik numarası</label
        >
        <input
          type="text"
          class="form-control"
          id="identificationNumber"
          name="IdentificationNumber"
          style="width: 200px"
          autocomplete="off"
          required
          [(ngModel)]="employee.identificationNumber"
        />
      </div>

      <div class="col-md-3">
        <label for="gender" class="form-label">Cinsiyet</label>
        <ng-select
          bindLabel="name"
          name="gender"
          appendTo="body"
          [(ngModel)]="employee.gender"
        >
          <ng-option value="E"> Erkek </ng-option>
          <ng-option value="K">adın</ng-option>
        </ng-select>
      </div>
      <div class="col-md-6">
        <label for="nationality" class="form-label">Uyruk</label>
        <ng-select
          notFoundText="Kayıt Bulunamadı"
          bindLabel="nationality"
          id="nationality"
          bindValue="nationality"
          name="nationality"
          [(ngModel)]="employee.nationality"
        >
          <ng-option
            [value]="nationality.nationalityName"
            *ngFor="let nationality of nationalities"
          >
            {{ nationality.nationalityName }}
          </ng-option>
        </ng-select>
      </div>
      <div class="col-md-6">
        <label for="placeOfBirth" class="form-label">Doğum Yeri</label>
        <input
          type="text"
          class="form-control"
          id="placeOfBirth"
          name="PlaceOfBirth"
          style="width: 200px"
          autocomplete="off"
          required
          [(ngModel)]="employee.placeOfBirth"
        />
      </div>
      <div class="col-md-6">
        <label for="dateOfBirth" class="form-label">Doğum Tarihi</label>
        <input
          type="text"
          class="form-control"
          id="dateOfBirth"
          style="width: 200px"
          autocomplete="off"
          bsDatepicker
          required
          [(ngModel)]="employee.dateOfBirth"
          name="dateOfBirth"
        />
      </div>
      <div class="col-md-4">
        <label for="maritalStatus" class="form-label">Medeni Hal</label>
        <ng-select
          bindLabel="name"
          id="maritalStatus"
          bindValue="maritalStatus"
          name="maritalStatus"
          [(ngModel)]="employee.maritalStatus"
        >
        <ng-option value="E"> Evli </ng-option>
        <ng-option value="B">Bekar</ng-option>
        </ng-select>
      </div>
      <div class="col-md-6">
        <label for="registrationNumber">Sicil Numarası</label>
        <input
          type="text"
          class="form-control"
          id="registrationNumber"
          style="width: 200px"
          autocomplete="off"
          required
          [(ngModel)]="employee.registrationNumber"
          name="registrationNumber"
        />
      </div>

      <div class="col-md-6">
        <label for="companyEntryDate">Şirkete Giriş Tarihi</label>
        <input
          type="text"
          name="companyEntryDate"
          id="companyEntryDate"
          class="form-control"
          style="width: 200px"
          autocomplete="off"
          bsDatepicker
          required
          [(ngModel)]="employee.companyEntryDate"
        />
      </div>
      <div class="col-md-6">
        <label for="sgkEntryDate">SGK Giriş Tarihi</label>
        <input
          type="text"
          name="sgkEntryDate"
          class="form-control"
          id="sgkEntryDate"
          style="width: 200px"
          autocomplete="off"
          bsDatepicker
          required
          [(ngModel)]="employee.sgkEntryDate"
        />
      </div>
      <div class="col-md-6">
        <label for="annualLeaveEntitlementStartDate"
          >Yıllık izin hakediş başlangıç tarihi</label
        >
        <input
          type="text"
          name="annualLeaveEntitlementStartDate"
          class="form-control"
          id="annualLeaveEntitlementStartDate"
          style="width: 200px"
          autocomplete="off"
          bsDatepicker
          required
          [(ngModel)]="employee.annualLeaveEntitlementStartDate"
        />
      </div>
      <div class="col-md-6">
        <label for="annualLeaveGroup">Yıllık izin Grubu</label>
        <ng-select
        bindLabel="name"
        id="annualLeaveGroup"
        bindValue="annualLeaveGroup"
        name="annualLeaveGroup"
        [(ngModel)]="employee.annualLeaveGroup"
      >
      <ng-option value="Standart"> Standart </ng-option>
      <ng-option value="Vardiya">Vardiya</ng-option>
      </ng-select>
      </div>
      <div class="col-md-6">
        <label for="severancePayStartDate"
          >Kıdem Tazminatı Başlangıç Tarihi</label
        >
        <input
          type="text"
          name="severancePayStartDate"
          class="form-control"
          id="severancePayStartDate"
          style="width: 200px"
          autocomplete="off"
          bsDatepicker
          required
          [(ngModel)]="employee.severancePayStartDate"
        />
      </div>
      <div class="col-md-6">
        <label for="oyakStartDateOfWork">OYAK İşe Giriş Tarihi</label>
        <input
          type="text"
          name="oyakStartDateOfWork"
          class="form-control"
          id="oyakStartDateOfWork"
          style="width: 200px"
          autocomplete="off"
          bsDatepicker
          required
          [(ngModel)]="employee.oyakStartDateOfWork"
        />
      </div>
      <div class="col-md-6">
        <label for="firstDateOfJoiningTheGroup">Gruba İlk Giriş Tarihi</label>
        <input
          type="text"
          name="firstDateOfJoiningTheGroup"
          class="form-control"
          id="firstDateOfJoiningTheGroup"
          style="width: 200px"
          autocomplete="off"
          bsDatepicker
          required
          [(ngModel)]="employee.firstDateOfJoiningTheGroup"
        />
      </div>
      <div class="col-md-6">
        <label for="wage">Ücret</label>
        <input
          type="number"
          name="wage"
          id="wage"
          class="form-control"
          style="width: 200px"
          required
          [(ngModel)]="employee.wage"
        />
      </div>
      <div class="col-md-6">
        <label for="typeOfWage">Ücret Türü</label>
        <ng-select
          notFoundText="Kayıt Bulunamadı"
          id="typeOfWage"
          bindValue="typeOfWage"
          placeholder="Seçiniz"
          name="typeOfWage"
          required
          [(ngModel)]="employee.typeOfWage"
        >
          <ng-option value="Aylık">Aylık</ng-option>
          <ng-option value="Sattlik">Saatlik</ng-option>
        </ng-select>
      </div>
      <div class="col-md-6">
        <label for="typeOfPayment">Ödeme Şekli</label>
        <ng-select
          bindLabel="name"
          bindValue="typeOfPayment"
          id="typeOfPayment"
          name="typeOfPayment"
          [(ngModel)]="employee.typeOfPayment"
        >
        <ng-option value="Nakit">Nakit</ng-option>
        <ng-option value="Banka Hesabı">Banka Hesabı</ng-option>
        </ng-select>
      </div>
      <div class="col-md-6">
        <label for="paymentCurrency">Ödeme yapılan para birimi</label>
        <ng-select
          bindLabel="name"
          id="paymentCurrency"
          bindValue="name"
          name="paymentCurrency"
          required
          [(ngModel)]="employee.paymentCurrency"
        >
        <ng-option value="TL">TL</ng-option>
        <ng-option value="DOLAR">DOLAR</ng-option>
        <ng-option value="EURO">EURO</ng-option>
        </ng-select>
      </div>
      <div>
        <button type="submit" (click)="save()" class="btn btn-success">
          Kaydet
        </button>
        <button class="btn btn-warning" type="button" (click)="clear()">
          Temizle
        </button>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ad</th>
          <th scope="col">Soyad</th>
          <th scope="col">TC kimlik numarası</th>
          <th scope="col">Cinsiyet</th>
          <th scope="col">Uyruk</th>
          <th scope="col">Doğum Yeri</th>
          <th scope="col">Doğum Tarihi</th>
          <th scope="col">Medeni Hal</th>
          <th scope="col">Sicil Numarası</th>
          <th scope="col">Şirkete Giriş T.</th>
          <th scope="col">SGK Giriş T.</th>
          <th scope="col">Yıllık izin hakediş başlangıç T.</th>
          <th scope="col">Yıllık izin Grubu</th>
          <th scope="col">Kıdem Tazminatı Başlangıç T.</th>
          <th scope="col">OYAK İşe Giriş T.</th>
          <th scope="col">Gruba İlk Giriş T.</th>
          <th scope="col">İşlemler</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <th scope="row">{{ employee.id }}</th>
          <td>{{ employee.firstName | titlecase }}</td>
          <td>{{ employee.lastName | titlecase }}</td>
          <td>{{ employee.identificationNumber }}</td>
          <td>{{ employee.gender | titlecase }}</td>
          <td>{{ employee.nationality }}</td>
          <td>{{ employee.placeOfBirth | titlecase }}</td>
          <td>{{ employee.dateOfBirth | date: "dd-MM-yyyy" }}</td>
          <td>{{ employee.maritalStatus }}</td>
          <td>{{ employee.registrationNumber }}</td>
          <td>{{ employee.companyEntryDate | date: "dd-MM-yyyy" }}</td>
          <td>{{ employee.sgkEntryDate | date: "dd-MM-yyyy" }}</td>
          <td>
            {{ employee.annualLeaveEntitlementStartDate | date: "dd-MM-yyyy" }}
          </td>
          <td>{{ employee.annualLeaveGroup  }}</td>
          <td>{{ employee.severancePayStartDate | date: "dd-MM-yyyy" }}</td>
          <td>{{ employee.oyakStartDateOfWork | date: "dd-MM-yyyy" }}</td>
          <td>
            {{ employee.firstDateOfJoiningTheGroup | date: "dd-MM-yyyy" }}
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button
                class="btn btn-danger"
                type="button"
                (click)="delete(employee)"
              >
                <i class="bi bi-trash3"></i>
              </button>
              <button
                (click)="getEmployee(employee.id)"
                class="btn btn-info"
                type="button"
              >
                <i class="bi bi-pencil"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
