<section class="vh-100" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <form>
                  <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>

                  <div class="form-floating">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="name@example.com"
                      required
                      name="email"
                      autocomplete="off"
                      [(ngModel)]="user.email"
                    />
                    <label for="email">Eposta</label>
                  </div>
                  <div class="form-floating">
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      placeholder="Password"
                      required
                      name="password"
                      [(ngModel)]="user.password"
                    />
                    <label for="password">Parola</label>
                  </div>

                  <button
                    class="w-100 btn btn-lg btn-primary"
                    (click)="login()"
                  >
                    Giriş yap
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
