<div class="container">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <div class="col-md-6">
          <label for="employeeId">Çalışan Seçiniz</label>

          <ng-select
            name="employeeId"
            id="employeeId"
            required
            placeholder="Seçiniz"
            [(ngModel)]="employeeFamily.employeeId"
          >
            <ng-option *ngFor="let employee of employees" [value]="employee.id">
              {{ employee.firstName }} {{ employee.lastName }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <label for="degree">Yakınlık Derecesi</label>
          <ng-select
            notFoundText="Kayıt bulunamadı"
            bindValue="degree"
            id="degree"
            bindLabel="name"
            placeholder="Seçiniz"
            name="degree"
            [(ngModel)]="employeeFamily.degree"
          >
            <ng-option
              *ngFor="let familyMember of familyMembers"
              [value]="familyMember.member"
            >
              {{ familyMember.member }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <label for="firstName">Yakının Adı</label>
          <input
            type="text"
            name="firstName"
            id="firstName"
            class="form-control"
            autocomplete="off"
            required
            [(ngModel)]="employeeFamily.firstName"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <label for="lastName">Yakının Soyadı</label>
          <input
            type="text"
            name="lastName"
            class="form-control"
            id="lastName"
            autocomplete="off"
            [(ngModel)]="employeeFamily.lastName"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <label for="gender">Cinsiyeti</label>
          <ng-select
            name="gender"
            id="gender"
            style="width: 200px"
            appendTo="body"
            placeholder="Seçiniz"
            required
            [(ngModel)]="employeeFamily.gender"
          >
            <ng-option value="E">Erkek</ng-option>
            <ng-option value="K">Kadın</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <label for="dateOfBirth">Doğum Tarihi</label>
          <input
            type="text"
            class="form-control"
            name="dateOfBirth"
            id="dateOfBirth"
            autocomplete="off"
            bsDatepicker
            required
            [(ngModel)]="employeeFamily.dateOfBirth"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <label for="identificationNumber">TC Kimlik Numarası</label>
          <input
            type="text"
            class="form-control"
            id="identificationNumber"
            name="identificationNumber"
            autocomplete="off"
            required
            [(ngModel)]="employeeFamily.identificationNumber"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <label for="educationalStatus">Okuma Durumu</label>
          <ng-select
            name="EducationalStatus"
            id="EducationalStatus"
            placeholder="Seçiniz"
            required
            [(ngModel)]="employeeFamily.educationalStatus"
          >
            <ng-option value="Okuyor">Okuyor</ng-option>
            <ng-option value="Okuyor">Mezun</ng-option>
            <ng-option value="Okumuyor">Okumuyor</ng-option>
          </ng-select>
        </div>
      </div>
      <br />
      <div>
        <button type="button" class="btn btn-success" (click)="save()">
          Kaydet
        </button>
        <button class="btn btn-warning" type="button" (click)="clear()">
          Temizle
        </button>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Çalışan Id</th>
          <th scope="col">Yakınlık Derecesi</th>
          <th scope="col">Yakının Adı</th>
          <th scope="col">Yakının Soyadı</th>
          <th scope="col">Cinsiyeti</th>
          <th scope="col">Doğum Tarihi</th>
          <th scope="col">TC Kimlik Numarası</th>
          <th scope="col">Eğitim Durumu</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employeeFamily of employeeFamilies">
          <th scope="row">{{ employeeFamily.id }}</th>
          <th>{{ employeeFamily.employeeId }}</th>
          <td>{{ employeeFamily.degree }}</td>
          <td>{{ employeeFamily.firstName | titlecase }}</td>
          <td>{{ employeeFamily.lastName | titlecase }}</td>
          <td>{{ employeeFamily.gender }}</td>
          <td>{{ employeeFamily.dateOfBirth | date: "dd-MM-yyyy" }}</td>
          <td>{{ employeeFamily.identificationNumber }}</td>
          <td>{{ employeeFamily.educationalStatus }}</td>

          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button
                class="btn btn-danger"
                (click)="deleteEmloyeeFamily(employeeFamily)"
                type="button"
              >
                <i class="bi bi-trash3"></i>
              </button>
              <button
                (click)="getEmployeeFamily(employeeFamily.id)"
                class="btn btn-info"
                type="button"
              >
                <i class="bi bi-pencil"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
